<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8" />
   <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
   <link rel="stylesheet" href="../styles/app.css">
   <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
   <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   <title>Contacto Profesional</title>
</head>

<body>
   <div class="container p-4 pb-0">
      <div class="pb-2">
         <h4>Escoge un Profesional</h4>
         <p class="text-secondary">Puedes eligir entre distintos profesionales especializados para superar tus malos
            hábitos y manías compulsivas.
         </p>
      </div>
      <div>
         <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
               <a href="contactoProfesionalForm.html" class="text-decoration-none">
                  <div class="card mb-3" style="max-width: 540px;">
                     <div class="row g-0">
                        <div class="col-md-4">
                           <img src="../img/oftalmologo.jpg" class="img-fluid rounded-start h-100" alt="...">
                        </div>
                        <div class="col-md-8">
                           <div class="card-body">
                              <h5 class="card-title">Dr. Joaquín Liras</h5>
                              <p class="card-text fs-6">
                                 Oftalmólogo de la Universidad Católica de Chile, experto en la prevención de
                                 riesgos visuales y fatiga ocular para todas las edades, con especial atención a la
                                 exposición frente al
                                 computador.
                              </p>
                              <p class="card-text"><small class="text-muted">Fatiga Visual - Oftalmología</small></p>
                           </div>
                        </div>
                     </div>
                  </div>
               </a>
            </div>
            <div class="col">
               <a href="contactoProfesionalForm.html" class="text-decoration-none">
                  <div class="card mb-3" style="max-width: 540px;">
                     <div class="row g-0">
                        <div class="col-md-4">
                           <img src="../img/psicologa.jpg" class="img-fluid rounded-start h-100" alt="...">
                        </div>
                        <div class="col-md-8">
                           <div class="card-body">
                              <h5 class="card-title">Dra. Alexa Olivares</h5>
                              <p class="card-text"> Psicóloga Clínica de la Universidad Católica de Chile, especializada
                                 en
                                 trastornos
                                 compulsivos y ansiedad para todas las edades, con enfoque en manías compulsivas y
                                 estrategias de
                                 autocontrol.</p>
                              <p class="card-text"><small class="text-muted">Ansiedad - Manías Compulsivas</small></p>
                           </div>
                        </div>
                     </div>
                  </div>
               </a>
            </div>
            <div class="col">
               <a href="contactoProfesionalForm.html" class="text-decoration-none">
                  <div class="card mb-3" style="max-width: 540px;">
                     <div class="row g-0">
                        <div class="col-md-4">
                           <img src="../img/psicologa2.jpg" class="img-fluid rounded-start h-100" alt="...">
                        </div>
                        <div class="col-md-8">
                           <div class="card-body">
                              <h5 class="card-title">Dra. Laura Perrier</h5>
                              <p class="card-text">Psicóloga Clínica de la Universidad Católica de Chile, especializada
                                 en
                                 manías compulsivas
                                 y autoconocimiento para todas las edades. Enfoca su atención en estrategias para
                                 comprender y transformar
                                 impulsos compulsivos.</p>
                              <p class="card-text"><small class="text-muted">Autocontrol - Manías Compulsivas</small>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </a>
            </div>
            <div class="col">
               <a href="contactoProfesionalForm.html" class="text-decoration-none">
                  <div class="card mb-3" style="max-width: 540px;">
                     <div class="row g-0">
                        <div class="col-md-4">
                           <img src="../img/kinesiologo.jpg" class="img-fluid rounded-start h-100" alt="...">
                        </div>
                        <div class="col-md-8">
                           <div class="card-body">
                              <h5 class="card-title">Dr. Michael Levi</h5>
                              <p class="card-text">Se especializa en abordar problemas de postura en pacientes de todas
                                 las
                                 edades.
                                 Su enfoque integral se centra en evaluar y corregir posturas para mejorar la salud
                                 musculoesquelética
                                 y promover el bienestar general.</p>
                              <p class="card-text"><small class="text-muted">Mala Postura - Bienestar general</small>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </a>
            </div>
         </div>
      </div>
   </div>
</body>

</html>