<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8" />
   <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
   <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
   <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
   <link rel="stylesheet" href="../styles/app.css">
   <link rel="stylesheet" href="../styles/login.css">
   <title>Desk Habitum</title>
</head>

<body>
   <div class="form">
      <div class="thumbnail"><img src="../img/logolargo.jpeg"/></div>
      <h1>Inicio de Sesión</h1>
      <form class="login-form">
         <input id="email" type="text" placeholder="Correo electrónico" />
         <input id="password" type="password" placeholder="Contraseña" />
         <button id="login">Iniciar Sesión</button>
         <p class="message">No esta registrado? <a href="#" id="registro">Crear cuenta</a></p>
      </form>
   </div>
</body>
</html>