<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8" />
   <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
   <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
   <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
   <link rel="stylesheet" href="../styles/app.css">
   <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
   <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   <title>Perfil</title>
</head>

<body>
   <div class="container p-4">
      <h5>🔨  En construcción  🔨</h5>
   </div>
</body>
<script src="../renders/perfil.js"></script>
</html>